<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-md-4">
    <app-info-panel></app-info-panel>
  </div>
  <div class="col-md-8">
    <app-changer></app-changer>
  </div>
</div>

