<div class="container-fluid">
  <div class="jumbotron text-center">
    <app-loader [isLoading]="isLoading"></app-loader>
    <app-tab [childTemplate]="svk"></app-tab>
    <app-tab></app-tab>
  </div>
  <ng-template #svk let-templateMessage="localSk">
    custom template with text {{templateMessage}}
  </ng-template>






</div>
