<ng-container *ngTemplateOutlet="greet"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
<hr>
<div *ngIf="!childTemplate; else custom">
  not custom
</div>

<ng-template #custom>
  <ng-container *ngTemplateOutlet="childTemplate; context: myContext"></ng-container>
</ng-template>
<hr>

<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>
